# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*OZW*.txt
*lyric*.json
*.xml

# Files
customizations/devices.yaml
known_devices.yaml
secrets.yaml

